<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cultiva Menu</title>
<link rel="stylesheet" type="text/css" th:href="@{~/css/global.css}" />
<style>
	body{ margin: 0; background-color: #4F6A4E;}
</style>
</head>
<body>

	<img class="menu-logo" src="/images/logo.png" ><br>
	
	<a class="menu-logout" href="/cultiva" >logout</a>

	<div class="menu-options">
		<a href="/harvests/new"><img src="/images/opcao1.png" ></a>
		<a href="/harvests"><img src="/images/opcao2.png" ></a>
		<a href="/harvests/mine"><img src="/images/opcao3.png" ></a>
	</div>

</body>
</html>